@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&family=Martel+Sans:wght@600&family=Playball&family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* background-color: black; */
  /* color: white; */
}

/* Instagram main body  */

#instagram-main {
  display: flex;
}

#instagram-main>div {
  flex: 1;
}

#instagram-main>#main-body {
  flex: 3;
}

#instagram-main>#right-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Left side insta logo and li  */
#insta-logo {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 25px 12px 16px;
}

#navbar-left {
  /* position: fixed; */
  /* top: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-self: center; */
  border: 1px solid rgb(204, 204, 204);
  /* width: 13vw; */
  /* padding: 0px 20px; */
  height: 100vh;
}

#home-logo {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  padding: 4px 12px;
  display: flex;
  cursor: pointer;

}

.text {
  padding: 0px 8px
}

#search-logo {
  display: flex;
  /* background-color: aqua; */
  cursor: pointer;
  margin: 25px 0px;
  padding: 4px 12px;

}

#search-logo svg {
  height: 23px;
  width: 26px;
}

#explore-logo {
  cursor: pointer;
  display: flex;
  margin: 25px 0px;
  padding: 4px 12px;

}

#reels-logo {
  display: flex;
  cursor: pointer;
  margin: 25px 0px;
  padding: 4px 12px;

  /* background-color: orange; */
}

#messages-logo {
  cursor: pointer;
  display: flex;
  margin: 25px 0px;
  padding: 4px 12px;

  /* background-color: yellow; */
}

#notification-logo {
  display: flex;
  cursor: pointer;
  margin: 25px 0px;
  padding: 4px 12px;

  /* background-color: purple; */
}

#create-logo {
  cursor: pointer;
  display: flex;
  margin: 25px 0px;
  padding: 4px 12px;

  /* background-color: chartreuse; */
}

#profile-logo {
  display: flex;
  cursor: pointer;
  margin: 25px 0px;
  padding: 4px 12px;

  /* background-color: blue; */
}

#profile-logo svg {
  width: 23px;
  height: 23px;
}

#more-logo {
  cursor: pointer;
  display: flex;
  padding: 4px 12px;

  margin: 25px 0px;
}

s
/* Circle or story */

#circle {
  display: flex;
  /* margin: 2px 1rem; */
  /* padding: 4px 7rem; */
}

.circle-story {
  display: flex;
  /* padding: 10px 20rem; */
  width: 100%;
  /* overflow: hidden; */
}

.circle1 {
  margin: 2px 5px;
  /* padding: 4px; */
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle1 img {
  width: 56px;
  height: 56px;
  border-radius: 250px;
  cursor: pointer;
}

.circle2 {
  /* padding: 4px; */
  margin: 2px 5px;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle2 img {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 250px;
}

.circle3 {
  /* padding: 4px; */
  margin: 2px 5px;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle3 img {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 250px;
}

.circle4 {
  /* padding: 4px; */
  margin: 2px 5px;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle4 img {
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 250px;
}

.circle5 {
  /* padding: 4px; */
  margin: 2px 5px;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle5 img {
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 250px;
}

.circle6 {
  /* padding: 4px; */
  margin: 2px 5px;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle6 img {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 250px;
}

.circle7 {
  /* padding: 4px; */
  margin: 2px 5px;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  border-radius: 250px;
}

.circle7 img {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 250px;
}

.story-text {
  font-size: 13px;
  text-align: center;
}


.profile-right {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-left: 5rem;
  margin-top: 10px;
}

.profile-right img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

.name {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 20px;
  padding: 0px 10px;
}

.name p {
  cursor: pointer;
}

.right-img {
  display: flex;
  border: 2px solid red;
  top: 0;
  /* padding: 0px 30px; */
}

.name h4 {
  top: 0;
  margin-top: 2px;
  color: rgb(165, 162, 162);
}

.switch {
  color: blue;
  cursor: pointer;
}

.switch:hover {
  color: black;
}

.switch-right {
  margin-top: 30px;
  margin-left: 6rem;
}

.suggest {
  display: flex;
  align-items: center;
  justify-content: right;
}

.sug {
  margin-right: 10.5rem;
  margin-top: 10px;
  color: grey;
}

.right-s {
  /* padding: 2rem; */
  /* width: 5vw; */
  cursor: pointer;
  margin-top: 10px;
  margin-right: 4.5rem;
}

.right-s:hover {
  color: grey;
}

/* profile right bottom  */



.profile-1 {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-right: 0.4rem;
  margin-top: 10px;
}

.profile-1 img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

.right-name h4 {
  top: 0;
  margin-right: 4.5rem;
}

.right-follow h5 {
  margin-top: 1.5rem;
  margin-right: 6rem;
  cursor: pointer;
  color: blue;
}

.right-follow h5:hover {
  color: black;
}

#right-profile-1 {
  /* display: flex; */
  justify-content: right;
  align-items: center;
}

.profile-1 {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-right: 0;
  margin-top: 10px;
}

.profile-1 img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

#right-profile-2 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.profile-2 {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-right: 0;
  margin-top: 10px;
}

.profile-2 img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

#right-profile-3 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.profile-3 {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-right: 0;
  margin-top: 10px;
}

.profile-3 img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

#right-profile-4 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.profile-4 {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-right: 0;
  margin-top: 10px;
}

.profile-4 img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

#right-profile-5 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.profile-5 {
  width: 50px;
  width: 60px;
  height: 60px;
  border-radius: 250px;
  margin-right: 0;
  margin-top: 10px;
}

.profile-5 img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 250px;
}

/* #phots and images  */
#photos {
  /* width: 500px; */
  /* height: 500px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.photo-img {
  display: inline-block;
  /* justify-content: center; */
  /* align-items: center; */
  border: 2px solid black;
  margin-top: 5rem;
}

#right-navbar {
  /* height: 100%; */
  /* width: 30%; */
  /* display: flex; */
  /* margin: auto; */
  background-color: red;
  /* justify-content: right; */
  /* align-items: center; */
  /* flex-direction: column;2 */
  /* margin-left: 58rem; */
  /* border: 2px solid black; */
}